/*===== CONFIG =====*/
/*===== END CONFIG =====*/
/* The following lets us use a % height on the tiles. */
html, body {
  background: #45484d;
  background: radial-gradient(ellipse at center, #45484d 0%, #333333 100%);
  height: 100%;
}

.container {
  height: 100%;
  overflow: hidden;
  perspective: 1000px;
  /*
      Stop the tiles from "moving behind" the
      clickable plane  (for lack of a better term)
      See here: http://bit.ly/Rd3DBj
  */
  transform: translateZ(0);
  width: 100%;
  /* Make the tiles half opaque until hovered */
}
.container:hover .tile:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.5;
}

.tile {
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  height: 30%;
  position: absolute;
  transition: all .4s ease-in-out;
  transform-style: preserve-3d;
  width: 18%;
}
.tile:nth-of-type(5n+1) {
  left: 1.66667%;
}
.container:hover .tile:nth-of-type(5n+1) {
  font-size: 30;
  letter-spacing: 5;
  transform: rotateY(30deg) translateZ(-30px);
}
.tile:nth-of-type(5n+2) {
  left: 21.33333%;
}
.container:hover .tile:nth-of-type(5n+2) {
  font-size: 30;
  letter-spacing: 5;
  transform: rotateY(15deg) translateZ(-60px);
}
.tile:nth-of-type(5n+3) {
  left: 41%;
}
.container:hover .tile:nth-of-type(5n+3) {
  font-size: 30;
  letter-spacing: 5;
  transform: rotateY(0deg) translateZ(-90px);
}
.tile:nth-of-type(5n+4) {
  left: 60.66667%;
}
.container:hover .tile:nth-of-type(5n+4) {
  font-size: 30;
  letter-spacing: 5;
  transform: rotateY(-15deg) translateZ(-60px);
}
.tile:nth-of-type(5n+5) {
  left: 80.33333%;
}
.container:hover .tile:nth-of-type(5n+5) {
  font-size: 30;
  letter-spacing: 5;
  transform: rotateY(-30deg) translateZ(-30px);
}
.tile:nth-of-type(1n+1) {
  top: 2.5%;
}
.tile:nth-of-type(1n+6) {
  top: 35%;
}
.tile:nth-of-type(1n+11) {
  top: 67.5%;
}
.container:hover .tile:active, .container:hover .tile.active {
  height: 95%;
  left: 1.66667%;
  top: 2.5%;
  transform: rotateY(0) translateZ(0);
  width: 96.66667%;
  z-index: 3;
}
